# Ignore everything by default
*

# Allow traversing directories
!*/

# Whitelist ONLY required files
!.gitignore
!syl.tex
!iHW/**
!lab/lab_1_numerical_method.ipynb
!lab/lab_2_liner_stab.ipynb
!lab/lab_3_chaos_crypto.ipynb
!lab/lab_4_static_optimization.ipynb
